region = "us-west-1"
profile = "terraform"
shared_credentials_file = "/home/user/.aws/credentials"
public_key_name = "id_logger"
public_key_path = "/home/user/.ssh/id_logger.pub"
private_key_path = "/home/user/.ssh/id_logger"
ip_whitelist = ["1.2.3.4/32"]
availability_zone = "us-west-1a"
instance_name_prefix = "detectionlab_"
dc_ami = "ami-00000000000000001"
win10_ami = "ami-00000000000000002"
wef_ami = "ami-00000000000000003"
